# 私有仓库（仅 @business 开头的包走私有 registry）
@business:registry=http://registry.npm.corp.yxkj.com

# @im 开头的包（自研 IM SDK、传输插件、UI）走私有 registry
@im:registry=http://registry.npm.corp.yxkj.com

# 其他包默认走 npmjs
registry=https://registry.npmjs.org/
