{
  "extends": ["stylelint-config-standard"],
  "customSyntax": "postcss-html",
  "overrides": [
    {
      "files": ["**/*.less"],
      "customSyntax": "postcss-less"
    }
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["import", "source", "theme", "apply", "config", "tailwind", "plugin", "reference", "utility"]
      }
    ],
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "declaration-block-no-duplicate-properties": [
      true,
      {
        "ignore": ["consecutive-duplicates"]
      }
    ],
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "deep", "slotted"]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["v-deep", "v-global", "v-slotted"]
      }
    ],
    "color-function-notation": "legacy",
    "color-function-alias-notation": null,
    "alpha-value-notation": "number",
    "color-hex-length": null,
    "font-family-name-quotes": null,
    "no-empty-source": null,
    "custom-property-empty-line-before": null,
    "declaration-empty-line-before": null,
    "rule-empty-line-before": null
  }
}
